{% extends 'base.html.twig' %}

{% block title %}
    Papa Mario'S Pizza
{% endblock %}

{% block body %}
    <h1 class="text-center mt-3">
        {% if home.titre is not null %}
            {{ home.titre }}
        {% else %}
            Bienvenue sur Papa Mario'S Pizza
        {% endif %}
    </h1>
    {% if carousels|length > 0 %}
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
                {% for carousel in carousels %}
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ loop.index0 }}" {% if loop.index0 == 0 %} class="active" aria-current="true" {% endif %} aria-label="Slide {{ loop.index }}"></button>
                {% endfor %}
            </div>
            <div class="carousel-inner">
                {% for carousel in carousels %}
                    <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
                        <img src="{{ asset('images/carousel/' ~ carousel.imageName ) }}" class="d-block w-100" alt="...">
                            {% if carousel.titre is not null or carousel.titre is not null %}
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>
                                        {{ carousel.titre }}
                                    </h5>
                                    {% if carousel.texte is not null %}
                                        <p>
                                            {{ carousel.texte }}
                                        </p>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">
                        Previous
                    </span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">
                        Next  
                    </span>
                </button>
            </div>
        {% endif %}
        {% if home.imageName is null %}
            <p class="mt-4">
                {{ home.texte }}
            </p>
        {% else %}
        <div class="row mt-2 mb-4">
            <div class="col-12 col-md-9 mx-auto">
                <div class="mx-auto text-center">
                    <img src="{{ asset('images/home/' ~ home.imageName) }}" alt="{{ home.titre }}" class="img-fluid" style="border-radius: 20px;">
                </div>
                    <p class="mt-4 text-center">
                        {{ home.texte }}
                    </p>
            </div>
        </div>
    
            {% endif %}
        {% endblock %}
        