{% extends 'base-backend.html.twig' %}

{% block title %}
    Pizzas
    
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>
            Pizzas 
        </h1>
        <a href="{{ path('app_admin_pizza_new') }}" class="btn btn-brown">
            Nouveau
        </a>
    </div>
    <table class="table table-index table-striped table-responsive">
        <thead>
            <tr>
                <th>Image</th>
                <th>Nom</th>
                <th>Compsitions</th>
                <th> Prix</th>
                <th>Activée</th>
                <th>Ordre</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for pizza in pizzas %}
                            <tr><td><a href="{{ asset('images/pizza/' ~ pizza.imageName) }}" data-lightbox="{{ pizza.imageName }}" {% if pizza.nom is not null %} data-title="{{ pizza.nom }}" {% endif %}>
                            <img src="{{ asset('images/pizza/' ~ pizza.imageName) }}" alt="{{ pizza.imageName }}" class="img-list"></a></td>
                            <td>{{ pizza.nom }}</td>
                            <td>
                            {% for ingredient in pizza.ingredient %}
                                {{ ingredient.nom }}/
                            {% endfor %}
                            </td>
                            <td> {{ pizza.prix }}</td>
                            <td>{{ pizza.isActive ? 'Oui' : 'Non' }} </td>
                            <td>{{ pizza.rankOrder }}</td>
                            <td >
                            <a href="{{ path('app_admin_pizza_show', {'id': pizza.id}) }}" class="btn btn-orange">
                                <i class="align-middle" data-feather="eye"></i>
                            </a>
                            <a href="{{ path('app_admin_pizza_edit', {'id': pizza.id}) }}" class="btn btn-brown">
                                <i class="align-middle" data-feather="edit-2"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7" class="text-start">
                            Aucune pizza n'a été trouvée
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
    