{% extends 'base-backend.html.twig' %}

{% block title %}Pizzas{% endblock %}

{% block body %}
<a href="{{ path('app_admin_pizza_index') }}" class="btn btn-orange btn-sm mb-2">Retour a la liste</a>
<div class="d-flex justify-content-between align-items-center">
<h1>Pizzas</h1>
<a class="btn btn-brown" href="{{ path('app_admin_pizza_edit', {'id': pizza.id}) }}">Modifiée</a>
</div>
    <table class="table">
        <tbody>
            <tr>
            <a href="{{ asset('images/pizza/' ~ pizza.imageName) }}" data-lightbox="{{ pizza.imageName }}"{% if pizza.nom is not null%} data-title="{{pizza.nom}}"{% endif %} >
                    <img src="{{ asset('images/pizza/' ~ pizza.imageName) }}" alt="{{ pizza.imageName }}" class="img-list"></a>
                </tr>
            <tr>
                <th>Nom</th>
                <td>{{ pizza.nom }}</td>
            </tr>
            <tr>
                <th>Activé</th>
                <td>{{ pizza.isActive ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Ordre</th>
                <td>{{ pizza.rankOrder }}</td>
            </tr>
            <tr>
                <th>Composition</th>
                <td>
                    {% for ingredient in pizza.ingredient %}
                    {{ ingredient.nom }}/
                    {% endfor %}
            </tr>
        </tbody>
    </table>

    {{ include('admin_pizza/_delete_form.html.twig') }}
{% endblock %}
