{{ form_start(form) }}
<div class="d-flex flex-wrap justify-content-between mb-3">
    <div class="col-12 col-md-2 d-flex align-items-center">
        {{ form_row(form.isActive) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_row(form.rankNumber) }}
    </div>
    <div class="col-12 col-md-6 text-end">
        {{ form_row(form.tag) }}
    </div>
</div>

{{ form_row(form.titre) }}
{{ form_row(form.texte) }}
{{ form_row(form.imageFile) }}

<button class="btn btn-brown">{{ button_label|default('Sauvegarde') }}</button>
</button>
{{ form_end(form) }}
