{% extends 'base-backend.html.twig' %}

{% block title %}
   Reseaux Sociaux
{% endblock %}

{% block body %}
<a href="{{ path('app_admin_reseau_social_index') }}" class="btn btn-orange btn-sm mb-2">Retour a la liste</a>
<div class="d-flex justify-content-between align-items-center">
<h1>Reseaux Sociaux</h1>
    <a class="btn btn-brown" href="{{ path('app_admin_reseau_social_edit',{'id': reseau_social.id}) }}">
    Modifier
</a></div>

    <table class="table">
        <tbody>
            <tr>
                <th>Image</th>
                <td><a href="{{ asset('images/reseau_social/' ~ reseau_social.imageName) }}" data-lightbox="{{ reseau_social.imageName }}" {% if reseau_social.nom is not null %} data-title="{{ reseau_social.nom }}" {% endif %}>
                <img src="{{ asset('images/reseau_social/' ~ reseau_social.imageName) }}" alt="{{ reseau_social.imageName }}" class="img-list"></a></td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ reseau_social.nom }}</td>
            <tr>
                <th>Url</th>
                <td>{{ reseau_social.url }}</td>
            </tr>
        </tbody>
    </table>


    {{ include('admin_reseau_social/_delete_form.html.twig') }}
{% endblock %}
