{% extends 'base.html.twig' %}

{% block title %}
    Nos Pizza
{% endblock %}


{% block body %}
<div id="success-message" ></div>
<h1 class="text-center mt-4 pt-4 mb-4 pb-4 border-bottom border-warning">
        <i class="fas fa-pizza-slice me-1"></i>
        Nos Pizzas
    </h1>
    <div class="container my-5">
        <div class="row">
            {% for pizza in pizzas %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <div class="card h-100">
                        <img src="{{ asset('images/pizza/' ~ pizza.imageName) }}" class="card-img-top"  alt="{{ pizza.nom }}">
                            <div class="card-body d-flex flex-column">
                                <div class="d-flex justify-content-between">
                                    <h5 class="card-title">
                                        {{ pizza.nom }}
                                    </h5>
                                    <p class="card-text">
                                        {{ pizza.prix }}€
                                    </p>
                                </div>
                                {% for ingredient in pizza.ingredient %}
                                    {{ ingredient.nom }}
                                    /
                                {% endfor %}
                                <div class="mt-auto d-flex justify-content-between">
                                <input type="number" class="quantity" value="1" min="1" max="20" style="width: 40px; border-radius: 5px">
                                    <button type="button" class="btn btn-warning btn-modal-pizza" data-pizza-id="{{ pizza.id }}" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <i class="fas fa-shopping-cart "></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!------------------------ Modal ---------------------------->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                            Modifier la pizza
                        </h1>
                        <button type="button" class="btn-close btn-warning btn-close-modal-pizza" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" data-pizza-id="">
                    <div class="text-center">
                    <div class="spinner-border text-warning" role="status">
                    <span class="visually-hidden">Loading...</span>
                    </div>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

    <!------------------------ Modal ---------------------------->
    {% endblock %}
{% block javascripts %}
<script>
    let quantity = 0;
    $(".btn-modal-pizza").on("click", function(event){
        quantity = $(this).siblings(".quantity").val();
        if (quantity == 0)  {
            quantity = 1;
        }
        event.preventDefault();
        event.stopPropagation();
        let pizzaId = $(this).data("pizza-id");
        $(".modal-body").attr("data-pizza-id", pizzaId);
        $.ajax({
            url : "/pizza/getform",
            type: "POST",
            data: {
                pizzaId: pizzaId,
                quantity: quantity,
            },
        }).done(function(response){
            $("#exampleModal .modal-body").html(response);
            $("#btn-valid-pizza").on("click", function(event){
                event.preventDefault();
                event.stopPropagation();
                console.log($("#config_pizza_ingredient").val());
                $.ajax({
                    url : "/pizza/modif",
                    type: "POST",
                    data:{
                        pizzaId: pizzaId,
                        quantity: quantity,
                        ingredients :$("#config_pizza_ingredient").val(),
                    }
                })
                .done(function(response){
                    $("#exampleModal").modal('hide');
                    if (response.success) {
                        $("#success-message").text("La pizza a bien été ajoutée au panier").fadeIn().delay(2000).fadeOut();
                    }
                })
            })
            $('.select2').select2({
                dropdownParent: $('#exampleModal'),
        });
            });
        });
    $('.btn-close-modal-promo').on('click', function(event){
        event.preventDefault();
        event.stopPropagation();
        $("#exampleModal .modal-body").html('<div class="text-center"><div class="spinner-border text-warning" role="status"><span class="visually-hidden">Loading...</span></div></div>');
    });
</script>
{% endblock %}
    