{% extends 'base.html.twig' %}

{% block title %}
    Mon compte
{% endblock %}

{% block body %}
    <h1 class="text-center my-4">
        <i class="fas fa-user-circle"></i>
        Mon compte
    </h1>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info-tab-pane" type="button" role="tab" aria-controls="info-tab-pane" aria-selected="true">
                Mes informations
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="commande-tab" data-bs-toggle="tab" data-bs-target="#commande-tab-pane" type="button" role="tab" aria-controls="commande-tab-pane" aria-selected="true">
                Mes Commande
            </button>
        </li>
    </ul>
    <div class="tab-content " id="myTabContent">
        <div class="tab-pane fade show active" id="info-tab-pane" role="tabpanel" aria-labelledby="info-tab" tabindex="0">
            {{ form_start(form) }}
            <div class="d-flex justify-content-end mb-4">
                {{ form_widget(form.modifier) }}
            </div>
            <div class="d-flex flex-wrap">
                <div class="col-12 col-md-4 pe-2">
                    {{ form_label(form.email,'Votre email',{ label_attr: { class: 'w-100' }}
                    ) }}
                                        
                    {{ form_widget(form.email) }}
                </div>
                <div class="col-12 col-md-4 px-1">
                    {{ form_label(form.plainPassword.first,'',{ label_attr: { class: 'w-100' }}
                    ) }}
                                        
                    {{ form_widget(form.plainPassword.first) }}
                    {{ form_help(form.plainPassword) }}
                </div>
                <div class="col-12 col-md-4 ps-1">
                    {{ form_label(form.plainPassword.second ,'',{ label_attr: { class: 'w-100' }}
                    ) }}
                                                            
                                        
                    {{ form_widget(form.plainPassword.second) }}
                    {{ form_help(form.plainPassword.second) }}
                </div>
            </div>
            <div class="d-flex fle-wrap">
                <div class="col-12 col-md-4 pe-2">
                    {{ form_label(form.nom,'Votre nom',{ label_attr: { class: 'w-100' }}
                    ) }}
                                        
                    {{ form_widget(form.nom) }}
                </div>
                <div class="col-12 col-md-4 px-1">
                    {{ form_label(form.prenom,'Votre prenom',{ label_attr: { class: 'w-100' }}
                    ) }}
                                                            
                                        
                    {{ form_widget(form.prenom) }}
                </div>
                <div class="col-12 col-md-4 ps-1">
                    {{ form_label(form.telephone,'Votre numero de telephone',{ label_attr: { class: 'w-100' }}
                    ) }}
                                                            
                                        
                    {{ form_widget(form.telephone) }}
                </div>
            </div>

            {# on cree une macro pour prendre en charge le rendu du formulaire #}
            {% macro renderAdresseForm(form) %}
                <li>
                    <h3 class="mt-3 text-center">
                        Nouvelle Adresse
                    </h3>
                </li>
                <div class="d-flex flex-wrap">
                    <div class="col-12 col-md-6 pe-2">
                        {# {{ form_label(form.vars.form.children['nom'])}} #}
                        <label class="w-100 col-form-label col-sm-2">
                            Nom de l'adresse
                        </label>
                        {{ form_widget(form.vars.form.children['nom']) }}
                    </div>
                    <div class="col-12 col-md-6 ps-1">
                        {# {{ form_label(form.vars.form.children['voie'])}} #}
                        <label class="w-100 col-form-label col-sm-2">
                            Numero et nom de a voie
                        </label>
                        {{ form_widget(form.vars.form.children['voie']) }}
                    </div>
                </div>
                <div class="d-flex flex-wrap ">
                    <div class="col-12 col-md-4 pe-2">
                        {# {{ form_label(form.vars.form.children['codePostal'])}} #}
                        <label class="w-100 col-form-label col-sm-2">
                            Code postal
                        </label>
                        {{ form_widget(form.vars.form.children['codePostal']) }}
                    </div>
                    <div class="col-12 col-md-4 px-1 ">
                        {# {{ form_label(form.vars.form.children['ville'])}} #}
                        <label class="w-100 col-form-label col-sm-2">
                            Ville
                        </label>
                        {{ form_widget(form.vars.form.children['ville']) }}
                    </div>
                    <div class="col-12 col-md-4 ps-1">
                        {# {{ form_label(form.vars.form.children['interphone'])}} #}
                        <label class="w-100 col-form-label col-sm-2">
                            Interphone
                        </label>
                        {{ form_widget(form.vars.form.children['interphone']) }}
                    </div>
                </div>
                <div class="col-12 col-md-12">
                    {# {{ form_label(form.vars.form.children['complementAdresse'])}} #}
                    <label class="w-100 col-form-label col-sm-2">
                        Complement d'adresse
                    </label>
                    {{ form_widget(form.vars.form.children['complementAdresse']) }}
                </div>

            {% endmacro %}
            {# on import la macro #}
            {% import _self as macros %}

            <ul class="adresse list-unstyled" data-index="{{ form.adresse|length > 0 ? form.adresse|last.vars.name + 1 : 0 }}" data-prototype="{{ macros.renderAdresseForm(form.adresse.vars.prototype)|e('html_attr') }}">
                {% for adresse in form.adresse %}
                    <li>
                        <h2 class="mt-3 text-center">
                            Adresse 
                            {{ loop.index }}
                        </h2>
                        <div class="d-flex flex-wrap">
                            <div class="col-12 col-md-6 pe-2">
                                {{ form_label(adresse.nom,"Nom de l'adresse",{ label_attr: { class: 'w-100' }}
                                ) }}
                                                                
                                {{ form_widget(adresse.nom) }}
                            </div>
                            <div class="col-12 col-md-6 ps-1">
                                {{ form_label(adresse.voie,"Numero et nom de a voie",{ label_attr: { class: 'w-100' }}
                                ) }}
                                                                
                                {{ form_widget(adresse.voie) }}
                            </div>
                        </div>
                        <div class="d-flex flex-wrap ">
                            <div class="col-12 col-md-4 pe-2">
                                {{ form_label(adresse.codePostal,'Code postal',{ label_attr: { class: 'w-100' }}
                                ) }}
                                                                
                                {{ form_widget(adresse.codePostal) }}
                            </div>
                            <div class="col-12 col-md-4 px-1 ">
                                {{ form_label(adresse.ville,'Ville',{ label_attr: { class: 'w-100' }}
                                ) }}
                                                                
                                {{ form_widget(adresse.ville) }}
                            </div>
                            <div class="col-12 col-md-4 ps-1">
                                {{ form_label(adresse.interphone,'Interphone',{ label_attr: { class: 'w-100' }}
                                ) }}
                                                                
                                {{ form_widget(adresse.interphone) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-12">
                            {{ form_label(adresse.complementAdresse,'Complement d\'adresse',{ label_attr: { class: 'w-100' }}) }}
                                {{ form_widget(adresse.complementAdresse) }}
                            </div>
                    </li>
                {% endfor %}
            </ul>
                <div class="d-flex justify-content-between mb-5">
                <button type="button" class="add_item_link btn btn-orange" data-collection-holder-class="adresse">
                    Ajouter une adresse
                </button> 
                </div>
                {{ form_end(form) }}
            </div>


            <div class="tab-pane fade" id="commande-tab-pane" role="tabpanel" aria-labelledby="commande-tab" tabindex="0">
        <h2 class="mt-3 text-center">Commandes de : {{ user.email }}</h2>

    {% if commandes is not empty %}
        <table class="table table-striped mb-3">

            <thead>
                <tr>
                    <th>Date</th>
                    <th>Référence</th>
                    <th>Statut</th>
                    <th>Article</th>
                    <th>Suplement</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                    <!-- Ajoutez d'autres en-têtes de colonne au besoin -->
                </tr>
            </thead>
            <tbody>
                {% for commande in commandes %}
                    <tr class="mb-3">
                        <td rowspan="{{ commande.article|length }}">{{ commande.updatedAt|date('d/m/Y') }}</td>
                        <td rowspan="{{ commande.article|length }}">{{ commande.reference }}</td>
                        <td rowspan="{{ commande.article|length }}">{{ commande.statut }}</td>
                        {% for article in commande.article %}
                        <td>{{ article.nom }}</td>
                            <td>
                                {% if article.ingredientRemoved is not empty %}
                                    {{ '-' ~ article.ingredientRemoved }}
                                {% endif %}
                                {% if article.ingredientAdd is not empty %}
                                    {{ '+' ~ article.ingredientAdd }}
                                {% endif %}
                            </td>
                            <td>{{ article.quantity }}</td>
                            <td>{{ article.prix }}</td>
                            </tr>
                        {% endfor %}
                    <tr>
                        <td colspan="3" class="text-center fw-bold">
                            Total : {{ commande.total }} €
                        </td>
                        <td colspan="3" class="text-center">
                            <a href="" class="btn btn-red">
                                <i class="fas fa-file-pdf"></i>
                            </a>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
            {% else %}
                <td colspan="6" class="text-center">Vous n'avez pas encore de commande</td>
            {% endif %}
        </table>
    
        
</div>
</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/add-item-link.js') }}"></script>
{% endblock %}