{% extends 'base.html.twig' %}

{% block title %}
    Mon compte
    
{% endblock %}

{% block body %}
    <h1 class="text-center my-4">
        Mon compte
    </h1>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info-tab-pane" type="button" role="tab" aria-controls="info-tab-pane" aria-selected="true">
                Mes informations
                            
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="commande-tab" data-bs-toggle="tab" data-bs-target="#commande-tab-pane" type="button" role="tab" aria-controls="commande-tab-pane" aria-selected="true">
                Mes Commande
                            
            </button>
        </li>
    </ul>
    <div class="tab-content " id="myTabContent">
        <div class="tab-pane fade show active" id="info-tab-pane" role="tabpanel" aria-labelledby="info-tab" tabindex="0">
            {{ form_start(form) }}
            <div class="d-flex flex-wrap">
                <div class="col-12 col-md-4 pe-2">
                    {{ form_label(form.email,'Votre email',{ label_attr: { class: 'w-100' }}
                    ) }}
                    {{ form_widget(form.email) }}
                </div>
                <div class="col-12 col-md-4 px-1">
                    {{ form_label(form.plainPassword.first,'',{ label_attr: { class: 'w-100' }}
                    ) }}
                    {{ form_widget(form.plainPassword.first) }}
                    {{ form_help(form.plainPassword) }}
                </div>
                <div class="col-12 col-md-4 ps-1">
                    {{ form_label(form.plainPassword.second ,'',{ label_attr: { class: 'w-100' }}
                    ) }}
                                        
                    {{ form_widget(form.plainPassword.second) }}
                    {{ form_help(form.plainPassword.second) }}
                </div>
            </div>
            <div class="d-flex fle-wrap">
                <div class="col-12 col-md-4 pe-2">
                    {{ form_label(form.nom,'Votre nom',{ label_attr: { class: 'w-100' }}
                    ) }}
                    {{ form_widget(form.nom) }}
                </div>
                <div class="col-12 col-md-4 px-1">
                    {{ form_label(form.prenom,'Votre prenom',{ label_attr: { class: 'w-100' }}
                    ) }}
                                        
                    {{ form_widget(form.prenom) }}
                </div>
                <div class="col-12 col-md-4 ps-1">
                    {{ form_label(form.telephone,'Votre numero de telephone',{ label_attr: { class: 'w-100' }}
                    ) }}
                                        
                    {{ form_widget(form.telephone) }}
                </div>
            </div>


            <ul class="adresse list-unstyled" data-index="{{ form.adresse|length > 0 ? form.adresse|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.adresse.vars.prototype)|e('html_attr') }}">
                {% for adresse in form.adresse %}
                    <li>
                            <h2 class="mt-3 text-center"> Adresse {{ loop.index }}</h2>
                        <div class="d-flex flex-wrap">
                            <div class="col-12 col-md-6 pe-2">
                                {{ form_label(adresse.nom,"Nom de l'adresse",{ label_attr: { class: 'w-100' }}) }}
                                {{ form_widget(adresse.nom) }}
                            </div>
                            <div class="col-12 col-md-6 ps-1" >
                                {{ form_label(adresse.voie,"Numero et nom de a voie",{ label_attr: { class: 'w-100' }}) }}
                                {{ form_widget(adresse.voie) }}
                            </div>
                        </div>
                        <div class="d-flex flex-wrap ">
                            <div class="col-12 col-md-4 pe-2">
                                {{ form_label(adresse.codePostal,'Code postal',{ label_attr: { class: 'w-100' }}) }}
                                {{ form_widget(adresse.codePostal) }}
                            </div>
                            <div class="col-12 col-md-4 px-1 ">
                                {{ form_label(adresse.ville,'Ville',{ label_attr: { class: 'w-100' }}) }}
                                {{ form_widget(adresse.ville) }}
                            </div>
                            <div class="col-12 col-md-4 ps-1">
                                {{ form_label(adresse.interphone,'Interphone',{ label_attr: { class: 'w-100' }}) }}
                                {{ form_widget(adresse.interphone) }}
                            </div>
                        </div>
                            <div class="col-12 col-md-12">
                                {{ form_label(adresse.complementAdresse,'Complement d\'adresse',{ label_attr: { class: 'w-100' }}) }}
                                {{ form_widget(adresse.complementAdresse) }}
                            </div>
                {% endfor %}
                    </li>
            </ul>
                <div class="d-flex justify-content-between">
                <button type="button" class="add_item_link btn btn-orange" data-collection-holder-class="adresse">
                    Ajouter une adresse
                </button> 
                {{ form_widget(form.modifier) }}
                </div>
                {{ form_end(form) }}



            <div class="tab-pane fade" id="commande-tab-pane" role="tabpanel" aria-labelledby="commande-tab" tabindex="0">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quos dolor nihil assumenda dolores omnis eum nisi veritatis, et provident, eaque eos commodi esse obcaecati culpa blanditiis accusantium quibusdam deserunt.
                                                                    
                                                    
                                
                </p>
            </div>

        </div>
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('js/add-item-link.js') }}"></script>
    {% endblock %}
    