{% extends 'base.html.twig' %}

{% block title %}Nos Canettes{% endblock %}

{% block body %}
    <h1 class="text-center mt-4">
    <i class="fas fa-beer"></i>
    Nos Canettes</h1>
    <div class="container mt-4">
        <div class="row">
            {% for canette in canettes %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="card h-100 shadow">
                    <img src="{{ asset('images/canette/' ~ canette.imageName) }}" class="card-img-top" alt="{{ canette.nom }}">
                    <div class="card-body d-flex flex-column">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">{{ canette.nom }}</h5>
                        <p>{{ canette.taille }}cl</p> 
                        </div>
                        <div class="mt-auto d-flex justify-content-between">
                        <span class="badge badge-primary bg-brown" style="display: flex; justify-content: center; align-items: center;">
                        <p class="card-text m-0">
                            {{ canette.prix }}
                            <i class="fas fa-euro"></i>
                        </p>
                    </span>
                    <button class="btn btn-warning btn-add-canette" data-canette-id="{{ canette.id }}">
                            <a href="#" class="btn btn-warning"><i class="fas fa-shopping-cart"></i></a>
                        </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
<script>
    $(".btn-add-canette").on("click", function(event){
        event.preventDefault();
        event.stopPropagation();
        let canetteId = $(this).data("canette-id");
        $.ajax({
            url : "/canette/panier",
            type: "POST",
            data: {
                canetteId: canetteId,
                },
                }).done(function(response){

                    });
    });

</script>
                {% endblock %}